*,
:after,
:before {
  box-sizing: border-box;
}

body {
    font-family: 'Whitney SSm A','Whitney SSm B',verdana,sans-serif;
    font-weight: 400;
    color: #ffffff;
    padding: 0 0;
    font-size: 16px;
}


.wrapper {
    padding-top: 100px;
}
.content, h1 {
    margin: 2rem auto;
    max-width: 400px;
}
.content {
    position: relative;
}

.game {
    width: 280px;
    height: 280px;
    background-color: #000000; 
    position: absolute;
    border-radius: 310px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
     box-shadow:         3px 3px 5px 6px #ccc;
}

.controls {
    width: 120px;
    height: 120px;
}

#control-top-left {
    position: relative;
    background-color: lime;
    border-top-left-radius: 300px;
    left: 15px;
    top: 10px;
}

#control-bottom-left {
    background-color: yellow;
    border-bottom-left-radius: 300px;
    position: relative;
    top: -217px;
    left: 15px;
}

#control-top-right {
    position: relative;
    background-color: red;
    border-top-right-radius: 300px;
    top: -110px;
    left: 145px;
}

#control-bottom-right {
    position: relative;
    background-color: blue;
    border-bottom-right-radius: 300px;
    left: 145px;
    top: -97px;
}

#circle {
    height: 90px;
    width: 90px;
    border-radius: 300px;
    background-color: black;
    position: relative;
    top: -384px;
    left: 92px;
    z-index: 2;
}