*,
:after,
:before {
  box-sizing: border-box;
}

body {
    font-family: 'Whitney SSm A','Whitney SSm B',verdana,sans-serif;
    font-weight: 400;
    padding: 0 0;
    font-size: 16px;
}


.wrapper {
    padding-top: 50px;
}
.content, h1 {
    margin: 2rem auto;
    max-width: 400px;
}
.content {
    position: relative;
}

.game {
    width: 280px;
    height: 280px;
    background-color: #000000; 
    position: absolute;
    border-radius: 310px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
     box-shadow:         3px 3px 5px 6px #ccc;
     display: none;
}

.controls {
    width: 120px;
    height: 120px;
}

#control-top-left {
    position: relative;
    background-color: #00691C;
    border-top-left-radius: 300px;
    left: 15px;
    top: 10px;
}

#control-bottom-left {
    background-color: #FAFAB4;
    border-bottom-left-radius: 300px;
    position: relative;
    top: -217px;
    left: 15px;
}

#control-top-right {
    position: relative;
    background-color: #7D0000;
    border-top-right-radius: 300px;
    top: -110px;
    left: 145px;
}

#control-bottom-right {
    position: relative;
    background-color: #001691;
    border-bottom-right-radius: 300px;
    left: 145px;
    top: -97px;
}

#circle {
    height: 90px;
    width: 90px;
    border-radius: 300px;
    background-color: black;
    position: relative;
    top: -396px;
    left: 92px;
    z-index: 2;
}

#num {
    position: relative;
    height: 30px;
    width: 35px;
    left: 28px;
    top: 20px;
    background-color: #630000;
    text-align: center;
    border-radius: 3px;
    padding-top:5px;
    color: #ffffff;

}

.count-label {
    position: relative;
    height: 20px;
    width: 20px;
    left: 25px;
    top: 10px;
    font-size: 14px;
    color: #ffffff;

}

.panel-2, .panel-3 {
    display: none;
}

.panel-1 {
  /*  display: none; */
}

.green {
    color: #00691C;
}
.red {
    color: #7D0000;
}
.blue {
    color: #001691;

}
.yellow {
    color: #FAFAB4;
}



a:link, a:visited { 
    text-decoration: none;
    color: #0d47a1;
}

#strict-mode-selection, #easy-mode-selection {
    margin-left: 15px;
}

#strict-mode-selection:hover {
    margin-left: 15px;
    color: #7D0000;
}

#easy-mode-selection:hover {
    color: #00691C;
}

.start-panel {
    display: none;
    position: relative;
    top: 320px;
    left: 102px;
}

.win-panel{
    display: none;
    position: relative;
    top: 320px;
    left: 102px;
}

#start {
    background-color: #7D0000;
    color: white;
    height: 40px;
    width: 70px;
    padding-top: 10px;
    padding-left: 13px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px 4px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 2px 4px #ccc; /* Firefox 3.5 - 3.6 */
     box-shadow:         1px 1px 2px 4px #ccc;
}

@media only screen and (max-width: 420px) { /*iphone 6 plus */
  .game{
      margin-left: 60px;
  }
}

@media only screen and (max-width: 400px) { /*iphone 6 */
  .game{
      margin-left: 36px;
  }
}

@media only screen and (max-width: 361px) { 
    .game{
      margin-left: 30px;
  }
  
}

@media only screen and (max-width: 320px) {
    .game{
      margin-left: 5px;
  }
}